body {
  background-color:whitesmoke;
}
button {
  width: 250px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.option{
  color: #0D0D1D;
  font-size: 18px;

}
.active {
  color: red;
}
.myArticle{
  background-color: #9A9AC0;
  color: #1F1515;
  margin: 20px;
  padding:5px;
  border: 1px solid grey;
  font-size: 18px;
}
.header{
  margin: 20px;
}
.optionButton{
  background-color: #9A9AC0;
  
}

